#allInfo{
    justify-items: center;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left:2%;
}

#topBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: linear-gradient(115deg, #fd5d17 35%, #191919 35%);
    -webkit-text-fill-color: aliceblue;
    border-radius: 4px;
}

#topBar > img{
    width:60px;
    height:60px;
}

#Id{
    -webkit-text-fill-color:#191919;
    margin-right: auto;
    font-weight: bold;
}

#Name{
    margin-right:19%;
}

#imageBig > img{
    margin-left: 25%;
    display: flex;
    width:300px;
    height:300px;
}

#CatchButton{
  background-color: lightgray;
  width: 100%;
  font-size: 20px;
}

.textCenter {
    justify-items: center;
    align-items: center;
    text-align: center; 
  }

#CatchButton:hover{
    cursor: pointer;
    background: linear-gradient(115deg, #fd5d17 50%, #191919 50%);
    -webkit-text-fill-color: aliceblue;
    text-decoration: underline;
}

.textCenter{
     justify-items: center;
     align-items: center;
     text-align: center;
}


.type{
    display: flex;
}

.typeFull{
    width:100%;      
}

.typeText{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width:50%;   
}

.typeVar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 231, 236);
    width:50%;   
}

#statsTable {
  width: 100%;
  background-color: #191919;  
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  width: 50%;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
  -webkit-text-fill-color: aliceblue;
}
