body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,243,255);
  background: linear-gradient(115deg, rgba(255,243,255,1) 47.95%, rgba(255,98,54,1) 47.95%,rgba(255,98,54,1) 60.25%,rgb(255, 126, 68, 1) 60.25%, rgb(255, 126, 68, 1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

