html, body {
    height: 100%;
    margin: 0;
}

#page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f0f2f5;
}

#page > div > h1 {
    color:#263345;
}